/* ! FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Hubballi&family=Lato:ital,wght@0,100;1,100;1,300&family=Pacifico&display=swap');

/* ! ARROW UP */
    .arrow-up {
        font-size: 24px;
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

/* #GLOBAL  */
.flex-box {
    display: flex;
}
* {
    margin: 0 auto;
    font-family: 'Hubballi', cursive;
    scroll-behavior: smooth;
}
.sidenav {
    display: none;
}
body {
    box-sizing: border-box;
}


/* ? HEADER */

header {
    width:70%;
}

.social-bar {
    display: flex;
}
.social-bar > * {
    padding: 10px;
    text-align: center;
}

.icons {
    flex-basis: 15%;
}

.social-bar > * > i {
    padding:5px;
    font-size: 16px;
}

.empty {
    flex-basis: 50%;
}

.tel-mail {
    flex-basis: 40%;
    text-align: right;
}

.tel-mail > * {
    padding:5px;
}

.logo-text {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
}

/* ? ########## HEADER MENU ############## */

.menu  {
    text-align: center;
    margin: 25px 0;
}
.menu > li {
    padding:20px;
    display: inline;
    text-align: center;
}

.menu > li > a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', cursive;
}
/* *  ############### WELCOME IMAGE ################ */

.img-box {
    padding-top: 25px;
    height:60vh;
    background: url('./img/wlc-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-box {
    width: 100%;
    background: #FDF9F9;
}

.text-box-small {
    font-size: 18px;
    width:35%;
    padding:35px;
    text-align: center;
}

.text-box-small > p > span {
    font-size: 28px;
    margin-left: -10px;
    letter-spacing: 0.2rem;
    text-decoration: underline #A87650;
}


/* ? ########### PROJECTS SECTION ############# */

.portfolio {
    padding: 50px;
    text-align: center;
    height: 130vh;
}

.portfolio-container {
    width:90%;
    height: 100%;
    padding: 25px;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px; 
    grid-auto-flow: row;
    grid-template-areas:
      "work-one work-two work-three"
      "work-four work-four work-three"
      "work-four work-four work-five"
      "work-six work-six work-six"
      "work-six work-six work-six";
  }

  .portfolio-container > * {
      height: 100%;
      width: 100%;
      transition: transform 0.3s;
  }

  .portfolio-container > *:hover {
    transform: scale(1.01);
  }
  
  .work-one { grid-area: work-one; 
    background:url('./img/img-portfolio/port-one.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
  .work-two { grid-area: work-two; 
    background:url('./img/img-portfolio/port-three.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
  .work-four { grid-area: work-four; 
    background:url('./img/img-portfolio/port-four.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
  
  .work-three { grid-area: work-three;
    background:url('./img/img-portfolio/port-five.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
  
  .work-five { grid-area: work-five; 
    background:url('./img/img-portfolio/port-six.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
  .work-six { grid-area: work-six; 
    background:url('./img/img-portfolio/port-two.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  


/* ! ######### BLOG ######## */

.blog-title {
    padding:25px;
    text-decoration: underline #A87650;
}

.blog-container { 
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "post-one post-two post-three";
    width:60%;
  }

.post > * > img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}
  
.post-one { 
      grid-area: post-one; 
}
  
.post-two { 
      grid-area: post-two; 
}
  
.post-three { 
      grid-area: post-three; 
}

.title-box {
    border-radius: 3px;
    width:90%;
    background:#FFF;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: thin;
    margin-bottom: 25px;
}

.title-box > * {
    padding:10px;
}
.date {
    text-align: left !important;
    width:100%;
}

.blog-post-info {
    font-size: 14px;
}

.read-more, .btn{
	background-color:#faf7f7;
	border-radius:3px;
    border:none;
	display:inline-block;
	padding:14px 42px;
    font-size: 15px;
	text-decoration:none;
    margin-bottom: 25px;
    margin-top: 15px;
}
.read-more:hover, .btn:hover {
	background-color:#f6f6f6;
}
.read-more:active, .btn:active {
	position:relative;
	top:1px;
}

.btn-container {
    padding-top:25px;
    width:100%;
    text-align: center;
}
.visit-btn {
    text-align: center;
	padding:18px 96px;
    font-size: 18px;
}



/* ? FOOTER */
footer {
    margin-top: 50px;
    background:#F6F6F6;
}

.footer-container {
    padding-top: 50px;
    width: 70%;
}

.icons-footer {
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #fff;
}

.icons-footer > * {
    padding: 10px;
}

.map {
    display: flex;
    flex-direction: column;
    /* border-left: 1px solid black; */
}

.map > a {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.copyright {
    margin-top: 25px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}

.copyright > p > a {
    color: black;
    /* text-decoration: none; */
}



/* ! ############## PORTFOLIO PAGE ################### */

.portfolio-page {
    width: 80%;
    text-align: center;
}

.img-box-portfolio {
    background: url('./img/img-portfolio-page/portfolio-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
.portfolio-title > h2, .title {
    padding-top: 25px;
    padding-bottom: 5px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.horizontal-line {
    width: 100px;
    height: 2px;
    background: black;
    margin-bottom: 20px;
}

.text-wrapper {
    width: 60%;
    padding: 25px;
    font-size: 14px;
}


/* ! ######### CONTACT PAGE ###### */

.img-box-contact {
    background: url('./img/img-contact/contact-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}
.contact-title > h2 {
    padding: 25px;
}
.contact-page >  form > p {
    color: #818386;
    font-size: 24px;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  .contact-page > form > label, .description {
    color:#818386;
    text-transform: uppercase;
    font-size: 24px;
  }

  .contact-page >  form {
    width: 450px;
    position: relative;
    padding: 1rem 0;
  }
  
  .contact-page > form > input, textarea, label {
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
  }


.contact-page > form > input, textarea {
    color: #010712;
    font-weight: 500;
    background:  #F6F6F6;
    border: none;
    border-bottom: 1px solid #818386;;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }

  .contact-page > form > button {
    text-transform: uppercase;
    font-weight: 300;
    background:#3B3636;
    color: #FCFDFD;
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    width: 100%;
  }




  /* ! ########### BLOG PAGE ############# */

  .blog-page > h2 {
      padding: 25px;
  }
  .blog-wrapper {
    width: 85vw;
}

.img-box-blog {
    background: url('./img/img-blog/blog-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

  .post-wrapper {
      border-bottom: 1px solid black;
      padding: 25px;
  }

  .post-info {
      width: 90%;
      padding: 25px;
  }
  
  .post-info > h2 {
      padding: 10px;
      font-size: 2rem;
  }
  .date {
      padding: 10px;
      text-decoration: underline 1px;
  }
  .post-info > p {
      padding: 10px;
      font-size: 1rem;

  }

.blog-button {
    text-align: right;
}
  .btn-read, .btn-print{
	background-color:#f5f4f4;
	border-radius:3px;
    border:none;
	display:inline-block;
	padding:14px 42px;
    font-size: 1rem;
	text-decoration:none;
    margin-bottom: 25px;
    margin-top: 15px;
}
.btn-read:hover, .btn-print:hover {
	background-color:#f6f6f6;
}
.btn-read:active, .btn-print:active {
	position:relative;
	top:1px;
}

.red-bg {
    background: red !important;
}

  .content-hide {
      display: none;
  }

  .content-show {
      display: block;
  }


  /* ########## TESTIMONIALS */

  .testimonials {
    width: 80vw;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
    padding: 25px 0;
  }

  .testimonial {
    background-color: #F6F6F6;
	border-radius: 5px;
	padding: 40px 25px 25px;
	flex-grow: 1;
	flex-basis: 280px;
	max-width: 360px;
	position: relative; 
}

.testimonial-text {
    font-weight: normal;
		font-size: rem(14);
		line-height: 21px;
		margin-bottom: rem(25);
}

.testimonial-job {
    font-weight: normal;
		font-size: rem(8);
		line-height: 10px;
		letter-spacing: 0.5px;
}

.testimonial-name {
    font-weight: bold;
		font-size: rem(10);
		line-height: 12px;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
}

.testimonial-img {
    display: inline-block;
		width: 30px;
		margin-right: 10px;
        margin-top: 25px;
}

.testimonial-img > img {
    width: 30px;
    vertical-align: bottom;
	border-radius: 50%;
}

.testimonial-info {
    display: inline-block;
}

  

/* ! COMPANY PAGE ############# */

.img-box-company {
    background: url('./img/img-company/company-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
}
.company-page {
    width:70%;
    padding: 50px;
}

.company-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 50px;
}

.person-details > img {
    width:20em;
}

.person-name {
    padding:10px;
    font-size: 32px;
}

.person-position {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 2px solid black;
}



/* TODO MEDIA BREAKPOINTS */

 @media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    * {
         margin: 0 auto;
         box-sizing: border-box;
     }

     .logo-text {
         padding: 30px;
     }
     .img-box {
         height: 55vh;
     }
    .mobile-hide {
        display: none;
    }

    .open-menu {
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 0;
        margin: 0;
    }
    .line {
        width: 18px;
        height: 2px;
        background: black;
        margin:3px;
    }


    .sidenav {
        display: block;
        text-align: center;
        height: 100%;
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: #111;
        overflow-x: hidden; 
        padding-top: 60px;
        transition: 0.5s; 
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      .closebtn {
          color: white;
          text-align: center;
      }


/* home-img ##### */

.text-box-small {
    width: 70%;
}

/* PORTFOLIO ##### */
.portfolio {
    padding: 0;
}
.portfolio-container {
    width:90%;
    height: 100%;
    padding: 25px;;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px 10px; 
    grid-auto-flow: row;
    grid-template-areas:
      "work-one"
      "work-two"
      "work-three"
      "work-four"
      "work-five"
      "work-six"
  }

  /* #### TESTIMONIALS #### */
  .testimonials {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
/* ##### BLOG ###### */

.blog-container {
    display: block;
}

.blog-img {
    height: 300px;
}

.title-box {
    height: 300px;
    margin-top: 75px;
    background: #fcfcfc;
}

/* FOOTER FLEX */

.flex-box {
    flex-direction: column;
}


/*  * ####### PORTFOLIO PAGE ####### */

.container-portfolio > img {
    width: 400px;
    margin-left: -50px;

}

.img-box-portfolio {
    height: 35vh;
}

.portfolio-title > h2, .title {
    padding-top: 25px;
    padding-bottom: 5px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
}

.horizontal-line {
    width: 100px;
    height: 2px;
    background: black;
    margin-bottom: 20px;
}

.text-wrapper {
    width: 90%;
    padding: 25px;
    font-size: 14px;
}

.portfolio-title > p {
    font-size: 12px;
}


.company-wrapper {
    grid-template-columns: 1fr;
}
}
